@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat&family=Space+Mono:wght@400;700&display=swap");
body {
  background-color: #fff;
}

.title {
  position: absolute;
  width: 133px;
  height: 25px;
  left: 77px;
  top: 40px;

  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;

  color: #333333;
}

.scarecrow {
  position: absolute;
  left: 5.35%;
  right: 57.21%;
  top: 24.54%;
  bottom: 34.03%;
  height: 447.4263916015625px;
  width: 539.2236938476562px;
}

.hero {
  position: absolute;
  width: 586px;
  height: 190px;
  left: 735px;
  top: 265px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;

  /* Gray 1 */

  color: #333333;
}

.content {
  position: absolute;
  width: 381px;
  height: 108px;
  left: 736px;
  top: 491px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;

  /* Gray 2 */

  color: #4f4f4f;
}

.btn {
  position: absolute;
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;

  /* Gray 1 */

  background: #333333;
}

.btn-text {
  position: absolute;
  width: 130px;
  height: 21px;
  left: 783px;
  top: 687px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.035em;
  text-transform: uppercase;

  color: #ffffff;
}
.name {
  position: absolute;
  left: 43%;
  top: 101%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #333333;
}

@media (max-width: 480px) {
  .title {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 24px;
    top: 20px;

    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #333333;
  }

  .scarecrow {
    position: absolute;
    left: 11.73%;
    right: 11.78%;
    top: 11.49%;
    bottom: 63.44%;
    height: 220px;
    width: 260px;
  }
  .hero {
    position: absolute;
    width: 300px;
    height: 142px;
    left: 24px;
    top: 407px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 71px;
    letter-spacing: -0.035em;

    /* Gray 1 */

    color: #333333;
  }

  .content {
    position: absolute;
    width: 328px;
    height: 81px;
    left: 23px;
    top: 579px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;

    /* Gray 2 */

    color: #4f4f4f;
  }

  .btn {
    position: absolute;
    width: 216px;
    height: 68px;
    left: 24px;
    top: 726px;

    /* Gray 1 */

    background: #333333;
  }

  .btn-text {
    position: absolute;
    width: 130px;
    height: 21px;
    left: 67px;
    top: 750px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: -0.035em;
    text-transform: uppercase;

    color: #ffffff;
  }
  .name {
    font-size: 14px;
    line-height: 17px;
    left: 12%;
    top: 101%;
  }
}
